/**********************************************
File : utilities.scss;
-----------------------------------------------
Description:
   - clases helpers.
---------------------------------------------*/

/*----Listas*/
/*********************************************/
.list-inline{
	li{
		display:inline-block;
	}
}

/*----Posiciones*/
/*********************************************/
.f-left{
	float:left;
}
.f-right{
	float:right;
}
.pos-rel{
	position:relative;
}
