/**********************************************
File : bl.scss;
-----------------------------------------------
Description:
   - bloques.
---------------------------------------------*/

/*----.bl-banner*/
/*********************************************/
.bl{
	.bl-title{
		font-size:30px;
		color:#2A2B2C;
		position:relative;
		text-align:center;
		font-family: 'Oswald';
		font-weight:bold;
		margin:36px 0 20px;
		span{
			position:relative;
			background:#fff;
			padding:0 24px;
			&:before{
				content:'';
				display:inline-block;
				margin:-7px 8px 0 0;
			}
		}
		&:before{
			content:'';
			position:absolute;
			left:0px;
			top:50%;
			width:100%;
			height:1px;
			border-top:1px dotted #aaa;
		}
	}
	h3{
		font-family: 'Droid Sans';
		padding:0 44px;
		font-size:35px;
		font-weight:bold;
		text-align:center;
		line-height:40px;
		span{
			color:#D11F26;
		}
	}
	.bg-banner{
		background:url('../../../image/minisite/descabellado/design/pattern/bg-form.png') no-repeat;
		max-width:952px;
		height:858px;
		margin:40px auto;
	}
}
.bl-download{
	.bl-title{
		span{
			&:before{
				@include sprite($pin-download);
			}
		}
	}
}
.bl-banner{
	&:before{
		content:'';
		background:url('../../../image/minisite/descabellado/design/pattern/patter-black.png') repeat;
		position:absolute;
		width:100%;
		height:625px;
		left:0px;
		top:0px;
		z-index:1;
	}
	.post--main{
		position:relative;
		z-index:2;
		padding:15px 0 0;
		.item-shadow{
			position:absolute;
			bottom:0px;
			color:#fff;
			width:100%;
			a{
				color:#fff;
			}
			&:before{
				content:'';
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,121212+100&0+0,1+100 */
				background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(18,18,18,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(18,18,18,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(18,18,18,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
				width: 100%;
		    height: 200px;
		    bottom: 0px;
		    position: absolute;
			}
			h2{
				position:relative;
				z-index:2;
				font-size:38px;
				font-weight:bold;
				font-family: 'Droid Sans';
				padding:0 60px;
				text-align:center;
				top:-20px;
			}
		}
	}
	.post--featured{
		position: relative;
    z-index: 2;
	}
	> .lay-container{
		position:relative;
		z-index:2;
	}
	.list-social{
		text-align:center;
		margin: 8px 0 18px;
		li{
			vertical-align:top;
			color:#fff;
			&.li-fb{
				margin:0 10px 0 0;
			}
			&.li-sep{
				margin:0 10px;
			}
			&.li-date{
				font-size:12px;
				margin:2px 0 0;
			}
		}
	}
}
.bl-playlist{
	padding:28px 70px 0px;
	.playlist-title{
		text-align:left;
		color:#fff;
		font-weight:bold;
		font-size:27px;
		border-bottom:1px solid #ECF0F1;
		padding:0 0 12px;
		margin:0 auto 8px;
	}
}
.bl-magazine{
	background:url('../../../image/minisite/descabellado/design/pattern/patter-black.png');
	.arrows{
		display:block;
		background:url('../../../image/minisite/descabellado/design/pattern/arrow.png');
		height:43px;
		width:595px;
		opacity:.1;
		margin:20px auto 30px;
	}
	h1{
		font-size:120px;
		color:#FFC926;
		text-align:center;
		text-transform:uppercase;
		padding:0 110px;
		margin:0 0 30px;
		span{
			color:#FEFEFE;
		}
	}
	p{
		font-family: 'Oswald';
		font-size:40px;
		color:#fff;
		font-weight:bold;
		text-align:center;
		line-height:52px;
	}
	img{
		display:block;
		margin:40px auto 0;
	}
}
.bl-banner--fotogaleria{
	margin-bottom:40px;
	&:before{
		display:none;
	}
	.post--main{
		padding:0px;
		.list-social{
			position:relative;
		}
	}
}
