.frm-download{
	padding:110px 0 0;
	p{
		font-family: 'Droid Sans';
		color:#fff;
		font-weight:bold;
		font-size:20px;
		text-align:center;
		padding:0 10px;
	}
	.item-frm{
		width:525px;
		margin:36px auto 0;
		background:#000;
		padding:40px 0 0;
	}
	.row-frm{
		padding:0 52px;
		margin:0 0 24px;
	}
	.btn-frm{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffde00+0,f1c600+48,e1ac00+79,d19300+100 */
		background: rgb(255,222,0); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,222,0,1) 0%, rgba(241,198,0,1) 48%, rgba(225,172,0,1) 79%, rgba(209,147,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(255,222,0,1) 0%,rgba(241,198,0,1) 48%,rgba(225,172,0,1) 79%,rgba(209,147,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(255,222,0,1) 0%,rgba(241,198,0,1) 48%,rgba(225,172,0,1) 79%,rgba(209,147,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde00', endColorstr='#d19300',GradientType=0 ); /* IE6-9 */
		width:106%;
		border:none;
		font-family: 'Oswald';
		color:#fff;
		font-weight:bold;
		font-size:19px;
		padding:12px;
		margin:34px -3% 26px;
		cursor:pointer;
	}
}
.row-frm{
	label{
		display:block;
		font-weight:bold;
		font-size:18px;
		font-family: 'Oswald';
		color:#fff;
		text-transform:uppercase;
		margin-bottom:10px;
	}
	input[type="text"],
	input[type="password"]{
		width:100%;
		padding:10px;
	}
	&.row-frm--code{
		border:2px dotted #BE9D00;
		border-radius:10px;
		margin:0 28px;
		padding:22px;
	}
	&.row-inline{
		label{
			float:left;
			width:20%;
			margin:10px 0;
		}
		input[type="text"],
		input[type="password"]{
			width:80%;
			padding:10px;
		}
	}
}
