/**********************************************
File : global.scss;
-----------------------------------------------
Description:
   - Estilos globales.
---------------------------------------------*/
body{
	font-family: 'Droid Sans';
}
a{
	text-decoration:none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
