.gr-row{
	.my-col{
		img{
			margin:auto;
			width:100%;
		}
	}
	.my-col-1{
		@include span(.45);
		padding-right:10px;
	}
	.my-col-2{
		@include span(.22);
		padding-right:10px;
		img{
			margin-bottom:10px;
			&:last-child{
				margin-bottom:0px;
			}
		}
	}
	.my-col-3{
		@include span(.33);
		.list-social{
			margin-top:13px;
		}
	}
}
