/**********************************************
File : layout.scss;
-----------------------------------------------
Description:
   - layouts Globales.
---------------------------------------------*/
.lay-container{
	@include center($width-page);
}

/*----Header*/
/*********************************************/
.lay-descHeader{
	margin-bottom:16px;
	.logo{
		display:block;
		margin:auto;
		@include sprite($logo);
	}
}

/*----Footer*/
/*********************************************/
.lay-descFooter{
	padding:20px 0;
	background:#fff;
	border-top:1px dotted #aaa;
	.f-left,
	.f-right{
		text-indent:-9999px;
	}
	.f-left{
		@include sprite($logo-footer);
	}
	.f-right{
		@include sprite($logo-lr);
	}
}
