/**********************************************
File : nav.scss;
-----------------------------------------------
Description:
   - Estilos elementos de navegacion.
---------------------------------------------*/

/*----nav-descNav*/
/*********************************************/
.nav-descNav{
	text-align:center;
	border-top:1px dotted #aaa;
	li{
		&.donwload{
			a{
				background:#F8BD34;
			}
		}
		> a{
			font-size:18px;
			font-family: 'Oswald';
			font-weight:bold;
			text-transform:uppercase;
			color:#2A2B2C;
			padding:12px;
			display:block;
			&:hover,
			&.is-active{
				color:#D12229;
			}
		}
	}
	.link-lateral{
		display:block;
		text-indent:-9999px;
		position:absolute;
		bottom:0px;
		&.link-magazine{
			@include sprite($logo-revista);
			left:0px;
		}
		&.link-glr{
			@include sprite($logo-lr);
			right:0px;
			bottom:11px;
		}
	}
}

/*----nav-pagination*/
/*********************************************/
.nav-pagination{
	text-align:center;
	margin:40px 0 44px;
	a{
		font-family: 'Oswald';
		font-weight:bold;
		font-size:20px;
		color:#2A2B2C;
	}
	li{
		margin-right:15px;
	}
	li:hover,
	li.is-active{
		a{
			color:#C1222C;
		}
	}
	.last{
		margin:0 0 0 5px;
		position:relative;
		&:after{
			content:'';
			@include sprite($arrow-nav);
			display:inline-block;
			margin-left:8px;
		}
		a{
			color:#C1222C;
		}
	}
}
