/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-nav-name: 'arrow-nav';
$arrow-nav-x: 277px;
$arrow-nav-y: 171px;
$arrow-nav-offset-x: -277px;
$arrow-nav-offset-y: -171px;
$arrow-nav-width: 22px;
$arrow-nav-height: 20px;
$arrow-nav-total-width: 370px;
$arrow-nav-total-height: 214px;
$arrow-nav-image: '../../../image/minisite/descabellado/design/sprite.png';
$arrow-nav: (277px, 171px, -277px, -171px, 22px, 20px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'arrow-nav', );
$i-all-download-name: 'i-all-download';
$i-all-download-x: 52px;
$i-all-download-y: 171px;
$i-all-download-offset-x: -52px;
$i-all-download-offset-y: -171px;
$i-all-download-width: 42px;
$i-all-download-height: 42px;
$i-all-download-total-width: 370px;
$i-all-download-total-height: 214px;
$i-all-download-image: '../../../image/minisite/descabellado/design/sprite.png';
$i-all-download: (52px, 171px, -52px, -171px, 42px, 42px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'i-all-download', );
$i-download-active-name: 'i-download-active';
$i-download-active-x: 243px;
$i-download-active-y: 171px;
$i-download-active-offset-x: -243px;
$i-download-active-offset-y: -171px;
$i-download-active-width: 24px;
$i-download-active-height: 28px;
$i-download-active-total-width: 370px;
$i-download-active-total-height: 214px;
$i-download-active-image: '../../../image/minisite/descabellado/design/sprite.png';
$i-download-active: (243px, 171px, -243px, -171px, 24px, 28px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'i-download-active', );
$i-download-name: 'i-download';
$i-download-x: 209px;
$i-download-y: 171px;
$i-download-offset-x: -209px;
$i-download-offset-y: -171px;
$i-download-width: 24px;
$i-download-height: 28px;
$i-download-total-width: 370px;
$i-download-total-height: 214px;
$i-download-image: '../../../image/minisite/descabellado/design/sprite.png';
$i-download: (209px, 171px, -209px, -171px, 24px, 28px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'i-download', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 202px;
$logo-footer-y: 85px;
$logo-footer-offset-x: -202px;
$logo-footer-offset-y: -85px;
$logo-footer-width: 145px;
$logo-footer-height: 19px;
$logo-footer-total-width: 370px;
$logo-footer-total-height: 214px;
$logo-footer-image: '../../../image/minisite/descabellado/design/sprite.png';
$logo-footer: (202px, 85px, -202px, -85px, 145px, 19px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'logo-footer', );
$logo-lr-name: 'logo-lr';
$logo-lr-x: 202px;
$logo-lr-y: 114px;
$logo-lr-offset-x: -202px;
$logo-lr-offset-y: -114px;
$logo-lr-width: 140px;
$logo-lr-height: 18px;
$logo-lr-total-width: 370px;
$logo-lr-total-height: 214px;
$logo-lr-image: '../../../image/minisite/descabellado/design/sprite.png';
$logo-lr: (202px, 114px, -202px, -114px, 140px, 18px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'logo-lr', );
$logo-revista-name: 'logo-revista';
$logo-revista-x: 0px;
$logo-revista-y: 85px;
$logo-revista-offset-x: 0px;
$logo-revista-offset-y: -85px;
$logo-revista-width: 192px;
$logo-revista-height: 76px;
$logo-revista-total-width: 370px;
$logo-revista-total-height: 214px;
$logo-revista-image: '../../../image/minisite/descabellado/design/sprite.png';
$logo-revista: (0px, 85px, 0px, -85px, 192px, 76px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'logo-revista', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 370px;
$logo-height: 75px;
$logo-total-width: 370px;
$logo-total-height: 214px;
$logo-image: '../../../image/minisite/descabellado/design/sprite.png';
$logo: (0px, 0px, 0px, 0px, 370px, 75px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'logo', );
$pin-download-name: 'pin-download';
$pin-download-x: 0px;
$pin-download-y: 171px;
$pin-download-offset-x: 0px;
$pin-download-offset-y: -171px;
$pin-download-width: 42px;
$pin-download-height: 43px;
$pin-download-total-width: 370px;
$pin-download-total-height: 214px;
$pin-download-image: '../../../image/minisite/descabellado/design/sprite.png';
$pin-download: (0px, 171px, 0px, -171px, 42px, 43px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'pin-download', );
$pin-last-name: 'pin-last';
$pin-last-x: 104px;
$pin-last-y: 171px;
$pin-last-offset-x: -104px;
$pin-last-offset-y: -171px;
$pin-last-width: 43px;
$pin-last-height: 41px;
$pin-last-total-width: 370px;
$pin-last-total-height: 214px;
$pin-last-image: '../../../image/minisite/descabellado/design/sprite.png';
$pin-last: (104px, 171px, -104px, -171px, 43px, 41px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'pin-last', );
$pin-photo-name: 'pin-photo';
$pin-photo-x: 157px;
$pin-photo-y: 171px;
$pin-photo-offset-x: -157px;
$pin-photo-offset-y: -171px;
$pin-photo-width: 42px;
$pin-photo-height: 41px;
$pin-photo-total-width: 370px;
$pin-photo-total-height: 214px;
$pin-photo-image: '../../../image/minisite/descabellado/design/sprite.png';
$pin-photo: (157px, 171px, -157px, -171px, 42px, 41px, 370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', 'pin-photo', );
$spritesheet-width: 370px;
$spritesheet-height: 214px;
$spritesheet-image: '../../../image/minisite/descabellado/design/sprite.png';
$spritesheet-sprites: ($arrow-nav, $i-all-download, $i-download-active, $i-download, $logo-footer, $logo-lr, $logo-revista, $logo, $pin-download, $pin-last, $pin-photo, );
$spritesheet: (370px, 214px, '../../../image/minisite/descabellado/design/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
