.table-playlist{
	width:100%;
	tbody, tfoot{
		tr:nth-child(odd) td{
	    background: #F4F6F7;
		}
		tr:nth-child(even) td{
	    background: #E6EBEC;
		}
	}

	td{
		vertical-align:middle;
		padding:15px 10px;
		p{
		color:#1F1F1F;
		font-size:16px;
			b{
				font-weight:bold;
			}
		}
		&.number{
			color:#D12128;
			font-size:20px;
			font-weight:bold;
			text-align:center;
			padding-right:0px;
		}
		&.size{
			color:#AEAEBB;
			text-align:right;
		}
		&.download{
			text-align:center;
		}
	}
}
