/*----box-model*/
/*********************************************/
$width-page : 980px;

/*----font-family*/
/*********************************************/
$font-family-asap : 'Asap', sans-serif;
$font-family-yanone : 'Yanone Kaffeesatz', sans-serif;
$font-family-open-sans : 'Open Sans', sans-serif;
$font-family-oswald : 'Oswald', sans-serif;

/*----font-size*/
/*********************************************/

$font-size-base : (10 * 100) / 16 ; //62.5 / 10px
$font-size-body : 1.5;
$font-size-h1 :  2.4;
$font-size-h2 :  1.8;
$font-size-h3 :  1.6;
$font-size-h4 :  1.4;
$font-size-h5 :  1.2;
$font-size-p : 1.8;

/*----font-colors*/
/*********************************************/
$color-body : #4B5253;
$color-link : #fff;
