.post--featured{
	.post-item{
		position:relative;
		padding-bottom:45px;
		background:#181818;
		img{
			max-width:100%;
		}
		.item-shadow{
			position: absolute;
	    bottom: 0px;
	    color: #fff;
	    width: 100%;
	    &:before{
				content:'';
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,121212+100&0+0,1+100 */
				background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(18,18,18,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(18,18,18,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(18,18,18,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
				width: 100%;
		    height: 118px;
		    bottom: 0px;
		    position: absolute;
			}
			h3{
				position:relative;
				z-index:2;
				font-size:18px;
				font-weight:bold;
				font-family: 'Droid Sans';
				padding:0 20px;
				text-align:center;
				top:-10px;
				line-height:26px;
				a{
					color:#fff;
				}
			}
		}
	}
}
.post{
	.post-title{
		font-size:30px;
		color:#2A2B2C;
		position:relative;
		text-align:center;
		font-family: 'Oswald';
		font-weight:bold;
		padding:36px 0 20px;
		span{
			position:relative;
			background:#fff;
			padding:0 24px;
			&:before{
				content:'';
				display:inline-block;
				margin:-7px 8px 0 0;
			}
		}
		&:before{
			content:'';
			position:absolute;
			left:0px;
			top:50%;
			width:100%;
			height:1px;
			border-top:1px dotted #aaa;
		}
	}
	.post-title--bold{
		font-family: 'Oswald';
		font-weight:bold;
		font-size:50px;
		text-transform:uppercase;
		text-align:center;
		padding:40px 0 36px;
	}
}
.post--photo{
	.post-title{
		span{
			&:before{
				@include sprite($pin-photo);
				vertical-align:middle;
			}
		}
	}
	.post-item{
		position:relative;
		img{
			max-width:100%;
			display:block;
		}
		h3{
			position: absolute;
	    font-size: 25px;
	    color: #ebebeb;
	    font-family: 'Droid Sans';
	    padding: 0 28px;
	    bottom: 42%;
	    text-align: center;
	    font-weight: bold;
	    line-height: 36px;
	    a{
	    	color: #ebebeb;
	    }
		}
	}
	.btn-more{
		display:block;
		margin:14px 0 0;
	}
}
.post--last{
	.post-title{
		span{
			&:before{
				@include sprite($pin-last);
				vertical-align:middle;
			}
		}
	}
	.post-item{
		img{
			max-width:100%;
			display:block;
		}
		padding:20px 0 15px;
		border-bottom:1px dotted #444;
	}
	.item-date{
		font-size:12px;
		color:#0D0D0D;
		display:block;
		margin:0 0 10px;
	}
	h3{
		font-family: 'Droid Sans';
		font-weight:bold;
		font-size:17px;
		margin:12px 0 14px;
		line-height:22px;
		a{
			color:#2a2b2c;
		}
	}
	.list-social{
		li{
			vertical-align:top;
			&.li-fb{
				margin-right:8px;
			}
		}
	}
	.post-item--scene{
		.item-date{
			margin:20px 0 10px;
		}
	}
}
